@model ProfessionalViewModel
@using System.Text.Json;

@if (Model.ProfessionalList is null || Model.ProfessionalList.Count == 0)
{
    <p>Não há profissionais cadastrados. <br> Crie um clicando no botão "Novo" ao lado.</p>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Gênero</th>
                <th scope="col">Especialidade</th>
                <th scope="col">Icon here</th>
                <th scope="col">Icon here</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProfessionalList)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Cpf</td>
                    <td>@item.Gender</td>
                    <td>@item.Speciality</td>
                    <td>
                        <button class="button-6" onclick="ModalProfessional.Update(@JsonSerializer.Serialize(item))">Alterar</button>
                    </td>
                    <td>
                        <button class="button-6" onclick="ModalProfessional.Delete(@item.Id, '@item.Name')">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}